body{
 
    display: flex;
    flex-direction: column;
 
    background-color: #1a00bd;
    color: white;
    align-items: center;
  
   
    height: 90vh;
    


}


*{
    
    font-size: larger;
    
    
}

h1{
    font-size: 6vh;
}





div{

  display: flex;
  
padding:5vh;
  align-items: center;
  justify-content: center;
  width:40%;
  
}

p:hover{

    color: aqua;
}


h1:hover{
   
    color: aqua;
}


img{
    
    max-height: 20vh;
    max-width: 15vh;
    margin-right:auto ;
    
}

nav{ 
   
    border: solid #ffffff;

    border-radius:30px;
    padding: 1vh;
    margin-right: auto;
    text-decoration: none;
   


}

a{
    
    color: white;
    text-decoration: none;
    padding: 5px;
}



.nav{
    
    margin-right: auto;
    margin-bottom: auto;
  
    margin-right: auto;
   padding: 0;
    
}




