body{
 
    display: flex;
    flex-direction: column;

    background-color: #1a00bd;
    color: white;
    align-items: center;
  
   
    height: 90vh;
    


}


*{
    
    font-size: larger;
   
    
}

h1{
    font-size: 6vh;
}





div {

  display: flex;
 
padding:5vh;
  align-items: center;
  justify-content: center;
  width:40%;
 
  
}

p:hover{

    transform: scale(110%);
transition-duration: 0.2s;
  cursor:pointer;

}


h1:hover{
   
   transform: scale(110%);
transition-duration: 0.2s;
  cursor:pointer;

}


img{
    
    max-height: 15vh;
    max-width: 10vh;
    margin-right:auto ;
    margin-left: auto;
    
    
}

nav{ 
   
    border: solid #ffffff;

    border-radius:35px;
   padding: 1vh;
  
    text-decoration: none;
  display: inline-flex;
     gap: calc(1px + 6px);
  


}

a{
    
    color: white;
    text-decoration: none;
   
    font-size: ;


}



.nav{
    display: inline-flex;
    
    margin-right: auto;
    

max-width: fit-content;
   padding: 0;
    gap: 10px;
}




a{
    font-size: medium;
   
  
}

p{
    border: solid white;
    padding: 10px;
    border-radius:25px ;
    margin-top: auto;
}


@media (max-width: 600px){
.nav{
    display: inline-flex;
    
    margin-right: auto;
    
margin-left: auto;
max-width: fit-content;
   padding: 0;
    gap: 10px;
}

p{
   font-size: medium;
   
   
}

   div{
width:fit-content;
    }

a{
    font-size: small;
}
nav{
    padding: 1vh;
    justify-content: center;
}

img{
max-height: 13vh;
max-width: 9vh;
}
}

a:hover{
 transform: scale(110%);
transition-duration: 0.3s;
 cursor:pointer;

}
